%h1.title

%h2.tag-line
  Visualize your LinkedIn profile in a timeline.

%a.button{ :href => "/users/auth/linked_in" }
  = image_tag "linkedin_logo.png"
  %p
    Connect to
    
%p.disclaimer
  Disclaimer: Your data is private by default. You can delete your data at any time.
