$font-color: #333;
$font-size: 11px;
$background-blue: #e7ebf2;
$gray-text-color: #808080;

$footer-height: 30px;

$default-text-shadow-color: rgba(255, 255, 255, 0.9);
$default-text-shadow-v-offset: 1px;
$default-text-shadow-blur: 0px;

$default-border-radius: 3px;