body {
  background: $background-blue;
  font-color: $font-color;
  font-size: $font-size;
  line-height: 1.5;
  font-family: 'Lucida Grande', Arial, sans-serif;
  
  #content
  {
    width: 895px;
    margin: 10px auto;
  }
}

a {
  @include unstyled-link;
  @include link-colors(#3b5998);
}

.button {
  cursor: pointer;
}

p {
  &.alert, &.notice {
    font-size: 1.1em;
    padding: 5px;
    margin-bottom: 10px;
  }

  &.alert {
    outline: 1px solid #f00;
    background: #ffc8c8;
    border-top: 1px solid #ffd9d9;
    color: #800;
  }
  
  &.notice {
    outline: 1px solid #fc0;
    background: #ffffc8;
    border-top: 1px solid #fff;
    color: #c60;
  }
}